@model List<Funcionario>

@{
    ViewData["Title"] = "Funcionarios";
}

<h1>Funcionários</h1>

<mensagem texto="@TempData["msg"]"></mensagem>


<nav class="navbar navbar-light bg-light">
    <a asp-action="cadastrar" class="btn btn-primary">Cadastrar Novo</a>
    <form class="form-inline" asp-action="pesquisar">
        <input class="form-control mr-sm-2" placeholder="Insira o setor" aria-label="Pesquisar">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
</nav>

<table class="table">
    <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Setor</th>
        <th>Cargo</th>
        <th>Nível</th>
        <th>Data de Admissão</th>
        <th>Salário</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Codigo</td>
            <td>@item.Nome</td>
            <td>@item.CPF</td>
            <td>@item.Setor</td>
            <td>@item.Cargo</td>
            <td>@item.Nivel</td>
            <td>@item.DataAdmissao.ToShortDateString()</td>
            <td>@item.Salario.ToString("n")</td>
            <td>@(item.Status?"Ativo":"Desligado")</td>
            <td>
                <a asp-action="editar" asp-route-id="@item.Codigo" class="btn btn-sm btn-outline-warning">Editar</a>
            </td>
            <td>
                <!-- Button trigger modal -->
                <button onclick="idFuncionario.value = @item.Codigo" type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal">
                    Remover
                </button>
            </td>
        </tr>
    }
</table>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deseja realmente excluir?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Os funcionários que são excluidos nessa área, serão perdidos de forma permanente. Certifique-se e esteja seguro dessa decisão.
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input type="hidden" name="codigo" id="idFuncionario" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>